header.header
    div.headerColumn
        a(href=routes.home)
            i.fab.fa-youtube
    div.headerColumn
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Log in