div.socialLogin
    button.socialLogin_github
        span
            <i class="fab fa-github"></i>
        |Continue with Github
    button.socialLogin_facebook
        span
            <i class="fab fa-facebook"></i>
        |Continue with Facebook