extends layouts/main
include mixins/videoBlock

block content    
    div.videos
        each item in videoFiles
            //h1=video.title
            +videoBlock({
                videoFile:item.videoFile,
                title:item.title,
                views:item.views
            })